[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
unitypack = "*"
PyYAML = "*"
pyparsing = "*"
mojoparser = {git = "https://github.com/andburn/python-mojoparser.git", editable = true}

[dev-packages]
